:root {
    --background-color: #ffc1f3;
    --background-color-red: #ff0000;
    --background-color-blue: #0000dd;
    --text-color: #000000;
    --text-color-green: #00ff33;
    --text-color-yellow: #c3dd00;
}
