.mainContainer {
    position: relative;
    width: 1080px;
    height: 1920px;
}

.mainText {
    position: absolute;
    top: 75px;
    left: 121px;
    font-size: 64px;
    font-family: "Open Sans";
}

.kappaImage {
    position: absolute;
    top: 215px;
    left: 49px;
    width: 294px;
    height: 400px;
}

.subButton {
    position: absolute;
    top: 670px;
    left: 83px;
    width: 278px;
    height: 110px;
    border: 2px solid #000000;
    border-radius: 10px;
    background-color: transparent;
    font-size: 64px;
}
